.logOutButton {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: none;
  align-items: center;
  text-align: left;
  background-color: white;
}
.logOutUserName {
  display: none;
}
.logOutUserImage {
  display: flex;
  align-items: center;
}
.logOutUserImage img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.logOutButton > span {
  min-width: 110px;
  font-size: 15px;
  font-weight: bold;
  color: #00838f;
}
@media all and (min-width: 1300px) {
  .logOutButton {
    width: 180px;
  }
  .logOutUserName {
    margin: 0 12px;
    display: inline-block;
  }
  .logOutUserName > div:first-child {
    font-weight: bold;
  }
}
.logOutButton:hover {
  background-color: rgba(15, 20, 25, 0.1);
  border-radius: 33px;
}
