.content {
  display: flex;
}

.navPill {
  height: 100px;
  padding: 0 10px;
  align-items: center;
}

@media all and (min-width: 1300px) {
  .navPill > div {
    margin-left: 20px;
    margin-right: 16px;
    font-size: 20px;
    display: inline-block;
  }
}
